<!doctype html>
<html>
<head>
  {% include resumehead.html %}
</head>
<body>
	<nav>
  		<ul>
       		<li><a href="/">Home</a></li>
        	<li><a href="/about">About</a></li>
       		<li><a href="/resume">Resume</a></li>
       		<li><a href="/blog">Blog</a></li>
   		</ul>
	</nav>
    <div id="container">
    {{ content }}
    </div>
  	<footer>
	    <ul>
	    	<li><a href="mailto:blank">email</a></li>
     		<li><a href="https://mattferris.com">mattferris.com</a></li>
		</ul>
	</footer>
</body>
</html>